In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
offensive_path = '../data/1xbet/1xbet_offensive_{}.csv'
defensive_path = '../data/1xbet/1xbet_defensive_{}.csv'

In [3]:
pd.read_csv(offensive_path.format(2022)).tail()

,Name,Team,Age,Position,Apps,Mins,Goals,Assists,SpG,KeyP,Drb,Fouled,Off,Disp,UnsTch,Rating
564,Dexter Lembikisa,Wolves,19,Defender,1,22,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.880
565,Cameron Peupion,Brighton,20,Midfielder,1,5,0,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,5.850
566,Andrew Moran,Brighton,19,Midfielder,1,11,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.830
567,Shane Duffy,Fulham,31,Defender,5,17,0,0,0.2,0.0,0.2,0.2,0.0,0.0,0.2,5.786
568,Yan Valery,Southampton,24,Defender,1,46,0,0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,5.740

In [4]:
pd.read_csv(defensive_path.format(2022)).tail()

,Name,Team,Age,Position,Apps,Mins,Tackles,Inter,Fouls,Offsides,Clear,Drb,Blocks,Rating
564,Dexter Lembikisa,Wolves,19,Defender,1,22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.880
565,Cameron Peupion,Brighton,20,Midfielder,1,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.850
566,Andrew Moran,Brighton,19,Midfielder,1,11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.830
567,Shane Duffy,Fulham,31,Defender,5,17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.786
568,Yan Valery,Southampton,24,Defender,1,46,0.0,0.0,0.0,0.0,3.0,0.0,0.0,5.740

In [5]:
start_year, end_year = 2014,2022
target = ['Tackles', 'Inter', 'Fouls', 'Offsides', 'Clear', 'Drb', 'Blocks']
stats_df = pd.DataFrame()
for year in range(start_year, end_year+1):
    o_df = pd.read_csv(offensive_path.format(year))
    d_df = pd.read_csv(defensive_path.format(year))
    merged_df = o_df.merge(d_df[target], how='left', left_index=True, right_index=True) # 공격과 수비 데이터의 행이 동일해서 행으로 머지
    merged_df['year'] = year
    stats_df = pd.concat([stats_df, merged_df])

In [6]:
stats_df.head()

,Name,Team,Age,Position,Apps,Mins,Goals,Assists,SpG,KeyP,...,UnsTch,Rating,Tackles,Inter,Fouls,Offsides,Clear,Drb_y,Blocks,year
0,Eden Hazard,Chelsea,32,Forward,38,3379,14,9,2.052632,2.631579,...,2.105263,7.956842,0.736842,0.578947,0.315789,0.0,0.236842,0.605263,0.026316,2014
1,Alexis Sánchez,Arsenal,34,Forward,35,2953,16,8,3.485714,2.342857,...,2.114286,7.810857,1.971429,1.171429,1.257143,0.0,0.171429,1.542857,0.000000,2014
2,Sergio Agüero,Man City,35,Forward,33,2540,26,8,4.484848,1.000000,...,1.939394,7.671515,0.666667,0.393939,0.545455,0.0,0.060606,0.515152,0.000000,2014
3,Cesc Fàbregas,Chelsea,36,Midfielder,34,2890,3,18,1.264706,2.794118,...,1.000000,7.618529,2.588235,0.676471,0.882353,0.0,0.882353,2.117647,0.147059,2014
4,Santi Cazorla,Arsenal,38,Midfielder,37,2992,7,11,2.513514,2.108108,...,1.000000,7.599459,1.594595,1.081081,0.540541,0.0,0.648649,1.459459,0.135135,2014

In [7]:
stats_df.describe()

,Age,Apps,Mins,Goals,Assists,SpG,KeyP,Drb_x,Fouled,Off,...,UnsTch,Rating,Tackles,Inter,Fouls,Offsides,Clear,Drb_y,Blocks,year
count,4860.000000,4860.000000,4860.000000,4860.000000,4860.000000,4860.000000,4860.000000,4860.000000,4860.000000,4860.000000,...,4860.000000,4860.000000,4860.000000,4860.000000,4860.000000,4860.000000,4860.000000,4860.000000,4860.000000,4860.000000
mean,30.725103,19.577778,1391.730864,1.862346,1.320370,0.741368,0.544959,0.569345,0.634389,0.110539,...,0.860415,6.630293,1.102146,0.758072,0.684193,0.121441,1.483150,0.593915,0.217428,2018.001852
std,5.128494,11.817937,1042.052595,3.442854,2.149495,0.713222,0.538110,0.614135,0.516100,0.197584,...,0.710808,0.369526,0.849951,0.706444,0.472695,0.228232,1.747162,0.487561,0.294064,2.614372
min,16.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,4.950000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2014.000000
25%,27.000000,9.000000,407.000000,0.000000,0.000000,0.222222,0.125000,0.111111,0.250000,0.000000,...,0.303030,6.376000,0.436821,0.157895,0.349457,0.000000,0.299324,0.222222,0.000000,2016.000000
50%,31.000000,20.000000,1283.000000,0.000000,0.000000,0.558824,0.419355,0.400000,0.538462,0.027778,...,0.742396,6.632320,1.000000,0.600000,0.666667,0.000000,0.814815,0.516129,0.100000,2018.000000
75%,34.000000,30.000000,2251.000000,2.000000,2.000000,1.047619,0.808150,0.823529,0.925926,0.130435,...,1.259259,6.871135,1.625000,1.176471,1.000000,0.142857,2.000000,0.871976,0.321429,2020.000000
max,50.000000,38.000000,3450.000000,36.000000,20.000000,4.972973,4.171429,5.666667,4.638889,1.500000,...,4.384615,8.340000,7.000000,4.500000,4.000000,2.000000,13.000000,4.000000,2.052632,2022.000000

In [8]:
stats_df.isnull().mean()

Name        0.0
Team        0.0
Age         0.0
Position    0.0
Apps        0.0
Mins        0.0
Goals       0.0
Assists     0.0
SpG         0.0
KeyP        0.0
Drb_x       0.0
Fouled      0.0
Off         0.0
Disp        0.0
UnsTch      0.0
Rating      0.0
Tackles     0.0
Inter       0.0
Fouls       0.0
Offsides    0.0
Clear       0.0
Drb_y       0.0
Blocks      0.0
year        0.0
dtype: float64

In [10]:
stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4860 entries, 0 to 568
Data columns (total 24 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      4860 non-null   object
 1   Team      4860 non-null   object
 2   Age       4860 non-null   int64
 3   Position  4860 non-null   object
 4   Apps      4860 non-null   int64
 5   Mins      4860 non-null   int64
 6   Goals     4860 non-null   int64
 7   Assists   4860 non-null   int64
 8   SpG       4860 non-null   float64
 9   KeyP      4860 non-null   float64
 10  Drb_x     4860 non-null   float64
 11  Fouled    4860 non-null   float64
 12  Off       4860 non-null   float64
 13  Disp      4860 non-null   float64
 14  UnsTch    4860 non-null   float64
 15  Rating    4860 non-null   float64
 16  Tackles   4860 non-null   float64
 17  Inter     4860 non-null   float64
 18  Fouls     4860 non-null   float64
 19  Offsides  4860 non-null   float64
 20  Clear     4860 non-null   float64
 21  Drb_y     4860 non-null   float64
 22  Blocks    4860 non-null   float64
 23  year      4860 non-null   int64
dtypes: float64(15), int64(6), object(3)
memory usage: 949.2+ KB

In [11]:
stats_df.Name.value_counts()

Name
Theo Walcott          11
Calum Chambers        11
Danny Welbeck         10
Jeffrey Schlupp       10
Ruben Loftus-Cheek    10
                      ..
Guido Carrillo         1
André Carrillo         1
Tomer Hemed            1
Thomas Edwards         1
Andrew Moran           1
Name: count, Length: 1734, dtype: int64

In [12]:
stats_df[stats_df.Name=='Theo Walcott']

,Name,Team,Age,Position,Apps,Mins,Goals,Assists,SpG,KeyP,...,UnsTch,Rating,Tackles,Inter,Fouls,Offsides,Clear,Drb_y,Blocks,year
339,Theo Walcott,Arsenal,34,Forward,14,442,5,0,1.642857,0.285714,...,0.500000,6.607857,0.000000,0.214286,0.142857,0.000000,0.071429,0.000000,0.000000,2014
348,Theo Walcott,Arsenal,34,Forward,28,1375,5,2,1.607143,0.607143,...,1.250000,6.581429,0.392857,0.500000,0.107143,0.035714,0.285714,0.321429,0.035714,2015
111,Theo Walcott,Arsenal,34,Forward,28,1925,10,2,2.214286,0.464286,...,1.928571,6.984286,1.285714,0.464286,0.500000,0.000000,0.464286,0.535714,0.035714,2016
49,Theo Walcott,Everton,34,Forward,14,1153,3,3,1.357143,1.000000,...,2.857143,7.130714,1.928571,0.571429,0.428571,0.000000,0.785714,0.571429,0.000000,2017
494,Theo Walcott,Arsenal,34,Forward,6,64,0,0,0.000000,0.000000,...,0.000000,6.085000,0.166667,0.166667,0.166667,0.000000,0.000000,0.000000,0.000000,2017
322,Theo Walcott,Everton,34,Forward,37,2124,5,2,1.162162,0.567568,...,2.081081,6.508108,0.729730,0.594595,0.270270,0.000000,0.162162,0.351351,0.027027,2018
353,Theo Walcott,Everton,34,Forward,25,1297,2,3,1.240000,0.760000,...,1.520000,6.463600,0.520000,0.320000,0.360000,0.000000,0.040000,0.480000,0.000000,2019
288,Theo Walcott,Southampton,34,Forward,21,1629,3,3,1.380952,0.809524,...,2.666667,6.563810,1.095238,0.666667,0.619048,0.047619,0.142857,1.000000,0.000000,2020
522,Theo Walcott,Everton,34,Forward,1,12,0,0,0.000000,0.000000,...,1.000000,5.870000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2020
499,Theo Walcott,Southampton,34,Forward,9,381,0,0,0.666667,0.111111,...,1.111111,6.087778,0.444444,0.555556,0.111111,0.000000,0.222222,0.444444,0.000000,2021
378,Theo Walcott,Southampton,34,Forward,20,1134,2,2,1.000000,0.750000,...,1.200000,6.379000,0.650000,0.450000,0.350000,0.000000,0.350000,0.950000,0.050000,2022