In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
offensive_path = '../data/1xbet/1xbet_offensive_{}.csv'
defensive_path = '../data/1xbet/1xbet_defensive_{}.csv'

In [16]:
pd.read_csv(offensive_path.format(2022)).tail()

,Name,Team,Age,Position,Apps,Mins,Goals,Assists,SpG,KeyP,Drb,Fouled,Off,Disp,UnsTch,Rating
564,Dexter Lembikisa,Wolves,19,Defender,1,22,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.880
565,Cameron Peupion,Brighton,20,Midfielder,1,5,0,0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,5.850
566,Andrew Moran,Brighton,19,Midfielder,1,11,0,0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,5.830
567,Shane Duffy,Fulham,31,D(C),5,17,0,0,0.2,0.0,0.2,0.2,0.0,0.0,0.2,5.786
568,Yan Valery,Southampton,24,"D(CR),M(R)",1,46,0,0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,5.740

In [15]:
pd.read_csv(defensive_path.format(2022)).tail()

,Name,Team,Age,Position,Apps,Min,Tackles,Inter,Fouls,Offsides,Clear,Drb,Blocks,Rating
564,Dexter Lembikisa,Wolves,19,Defender,1,22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.880
565,Cameron Peupion,Brighton,20,Midfielder,1,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.850
566,Andrew Moran,Brighton,19,Midfielder,1,11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.830
567,Shane Duffy,Fulham,31,D(C),5,17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.786
568,Yan Valery,Southampton,24,"D(CR),M(R)",1,46,0.0,0.0,0.0,0.0,3.0,0.0,0.0,5.740

In [17]:
start_year, end_year = 2014,2022
options = ['defensive', 'offensive']
stats_df = pd.DataFrame()
for year in range(start_year, end_year+1):
    o_df = pd.read_csv(offensive_path.format(year))
    d_df = pd.read_csv(defensive_path.format(year))
    merged_df = o_df.merge(d_df, how='outer') # 공격과 수비 데이터의 행이 동일해서 행으로 머지
    merged_df['year'] = year
    stats_df = pd.concat([stats_df, merged_df])
stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8961 entries, 0 to 1038
Data columns (total 24 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      8961 non-null   object
 1   Team      8961 non-null   object
 2   Age       8961 non-null   int64
 3   Position  8961 non-null   object
 4   Apps      8961 non-null   int64
 5   Mins      4860 non-null   float64
 6   Goals     4860 non-null   float64
 7   Assists   4860 non-null   float64
 8   SpG       4860 non-null   float64
 9   KeyP      4860 non-null   float64
 10  Drb       8961 non-null   float64
 11  Fouled    4860 non-null   float64
 12  Off       4860 non-null   float64
 13  Disp      4860 non-null   float64
 14  UnsTch    4860 non-null   float64
 15  Rating    8961 non-null   float64
 16  Min       4860 non-null   float64
 17  Tackles   4860 non-null   float64
 18  Inter     4860 non-null   float64
 19  Fouls     4860 non-null   float64
 20  Offsides  4860 non-null   float64
 21  Clear     4860 non-null   float64
 22  Blocks    4860 non-null   float64
 23  year      8961 non-null   int64
dtypes: float64(18), int64(3), object(3)
memory usage: 1.7+ MB

In [6]:
stats_df.head()

,Name,Team,Age,Position,Apps,Min,Tackles,Inter,Fouls,Offsides,...,option,Mins,Goals,Assists,SpG,KeyP,Fouled,Off,Disp,UnsTch
0,Eden Hazard,Chelsea,32,"M(CLR),FW",38,3379.0,0.736842,0.578947,0.315789,0.0,...,defensive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alexis Sánchez,Arsenal,34,"M(CLR),FW",35,2953.0,1.971429,1.171429,1.257143,0.0,...,defensive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sergio Agüero,Man City,35,"AM(CL),FW",33,2540.0,0.666667,0.393939,0.545455,0.0,...,defensive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Cesc Fàbregas,Chelsea,36,"M(CL),FW",34,2890.0,2.588235,0.676471,0.882353,0.0,...,defensive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Santi Cazorla,Arsenal,38,M(CLR),37,2992.0,1.594595,1.081081,0.540541,0.0,...,defensive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
stats_df.describe()

,Age,Apps,Mins,Goals,Assists,SpG,KeyP,Drb,Fouled,Off,...,UnsTch,Rating,Min,Tackles,Inter,Fouls,Offsides,Clear,Blocks,year
count,8961.000000,8961.000000,4860.000000,4860.000000,4860.000000,4860.000000,4860.000000,8961.000000,4860.000000,4860.000000,...,4860.000000,8961.000000,4860.000000,4860.000000,4860.000000,4860.000000,4860.000000,4860.000000,4860.000000,8961.000000
mean,30.798014,20.560317,1391.730864,1.862346,1.320370,0.741368,0.544959,0.617364,0.634389,0.110539,...,0.860415,6.653255,1391.730864,1.102146,0.758072,0.684193,0.121441,1.483150,0.217428,2017.991184
std,5.034196,11.411576,1042.052595,3.442854,2.149495,0.713222,0.538110,0.556222,0.516100,0.197584,...,0.710808,0.358268,1042.052595,0.849951,0.706444,0.472695,0.228232,1.747162,0.294064,2.609527
min,16.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,4.950000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2014.000000
25%,27.000000,11.000000,407.000000,0.000000,0.000000,0.222222,0.125000,0.210526,0.250000,0.000000,...,0.303030,6.400000,407.000000,0.436821,0.157895,0.349457,0.000000,0.299324,0.000000,2016.000000
50%,31.000000,22.000000,1283.000000,0.000000,0.000000,0.558824,0.419355,0.500000,0.538462,0.027778,...,0.742396,6.650000,1283.000000,1.000000,0.600000,0.666667,0.000000,0.814815,0.100000,2018.000000
75%,34.000000,31.000000,2251.000000,2.000000,2.000000,1.047619,0.808150,0.885714,0.925926,0.130435,...,1.259259,6.886429,2251.000000,1.625000,1.176471,1.000000,0.142857,2.000000,0.321429,2020.000000
max,50.000000,38.000000,3450.000000,36.000000,20.000000,4.972973,4.171429,5.666667,4.638889,1.500000,...,4.384615,8.340000,3450.000000,7.000000,4.500000,4.000000,2.000000,13.000000,2.052632,2022.000000

In [19]:
stats_df.isnull().mean()

Name        0.00000
Team        0.00000
Age         0.00000
Position    0.00000
Apps        0.00000
Mins        0.45765
Goals       0.45765
Assists     0.45765
SpG         0.45765
KeyP        0.45765
Drb         0.00000
Fouled      0.45765
Off         0.45765
Disp        0.45765
UnsTch      0.45765
Rating      0.00000
Min         0.45765
Tackles     0.45765
Inter       0.45765
Fouls       0.45765
Offsides    0.45765
Clear       0.45765
Blocks      0.45765
year        0.00000
dtype: float64

In [26]:
def is_na(t):
    try:
        return np.isnan(t)
    except:
        return False
stats_df[stats_df['Tackles'].apply(is_na)]

,Name,Team,Age,Position,Apps,Mins,Goals,Assists,SpG,KeyP,...,UnsTch,Rating,Min,Tackles,Inter,Fouls,Offsides,Clear,Blocks,year
0,Eden Hazard,Chelsea,32,"M(CLR),FW",38,3379.0,14.0,9.0,2.052632,2.631579,...,2.105263,7.956842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014
1,Alexis Sánchez,Arsenal,34,"M(CLR),FW",35,2953.0,16.0,8.0,3.485714,2.342857,...,2.114286,7.810857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014
2,Sergio Agüero,Man City,35,"AM(CL),FW",33,2540.0,26.0,8.0,4.484848,1.000000,...,1.939394,7.671515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014
3,Cesc Fàbregas,Chelsea,36,"M(CL),FW",34,2890.0,3.0,18.0,1.264706,2.794118,...,1.000000,7.618529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014
4,Santi Cazorla,Arsenal,38,M(CLR),37,2992.0,7.0,11.0,2.513514,2.108108,...,1.000000,7.599459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551,Cameron Archer,Aston Villa,21,FW,6,44.0,0.0,0.0,0.000000,0.000000,...,0.333333,5.985000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
552,Alex McCarthy,Southampton,33,GK,6,540.0,0.0,0.0,0.000000,0.000000,...,0.000000,5.985000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
556,Odeluga Offiah,Brighton,20,Defender,2,23.0,0.0,0.0,0.000000,0.000000,...,0.500000,5.975000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
558,Alex Mighten,Nottingham Forest,21,AM(L),1,7.0,0.0,0.0,0.000000,0.000000,...,0.000000,5.950000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022
567,Shane Duffy,Fulham,31,D(C),5,17.0,0.0,0.0,0.200000,0.000000,...,0.200000,5.786000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022