In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [50]:
path = '../data/origin/player/players_{}.csv'

In [51]:
start_year, end_year = 2014,2022
players_df = pd.DataFrame()
for year in range(start_year, end_year+1):
    data = pd.read_csv(path.format(year))
    data['year'] = year
    players_df = pd.concat([players_df, data])
players_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4742 entries, 0 to 554
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4742 non-null   int64
 1   No.         4742 non-null   int64
 2   Year        4742 non-null   int64
 3   Name        4742 non-null   object
 4   Age         4742 non-null   int64
 5   Team        4742 non-null   object
 6   Position    4742 non-null   object
 7   year        4742 non-null   int64
dtypes: int64(5), object(3)
memory usage: 333.4+ KB

In [52]:
path = '../data/origin/salary/Weekly Salary_{}_edited.csv'

In [53]:
start_year, end_year = 2014, 2022
salary_df = pd.DataFrame()
for year in range(start_year, end_year + 1):
    data = pd.read_csv(path.format(year))
    data['year'] = year
    salary_df = pd.concat([salary_df, data])
salary_df.columns

Index(['Rank', 'Name', 'Position', 'Team', 'Weekly Salary', 'year'], dtype='object')

In [54]:
eda_df = players_df.merge(salary_df[['Name', 'Position', 'Team', 'Weekly Salary', 'year']], how='left', left_on=['Name', 'year'], right_on=['Name', 'year'])
eda_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4763 entries, 0 to 4762
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     4763 non-null   int64
 1   No.            4763 non-null   int64
 2   Year           4763 non-null   int64
 3   Name           4763 non-null   object
 4   Age            4763 non-null   int64
 5   Team_x         4763 non-null   object
 6   Position_x     4763 non-null   object
 7   year           4763 non-null   int64
 8   Position_y     3133 non-null   object
 9   Team_y         3133 non-null   object
 10  Weekly Salary  3133 non-null   float64
dtypes: float64(1), int64(5), object(5)
memory usage: 446.5+ KB

In [55]:
eda_df.isnull().sum()

Unnamed: 0          0
No.                 0
Year                0
Name                0
Age                 0
Team_x              0
Position_x          0
year                0
Position_y       1630
Team_y           1630
Weekly Salary    1630
dtype: int64

In [56]:
eda_df.isnull().mean()

Unnamed: 0       0.000000
No.              0.000000
Year             0.000000
Name             0.000000
Age              0.000000
Team_x           0.000000
Position_x       0.000000
year             0.000000
Position_y       0.342221
Team_y           0.342221
Weekly Salary    0.342221
dtype: float64

In [57]:
path = '../data/origin/capology/capology_{}.csv'

In [58]:
start_year, end_year = 2014, 2022
salary_df = pd.DataFrame()
for year in range(start_year, end_year + 1):
    data = pd.read_csv(path.format(year))
    data['year'] = year
    salary_df = pd.concat([salary_df, data])
salary_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6140 entries, 0 to 592
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     6140 non-null   object
 1   money-w  6140 non-null   int64
 2   money-y  6140 non-null   int64
 3   money-a  6140 non-null   int64
 4   team     6140 non-null   object
 5   year     6140 non-null   int64
dtypes: int64(4), object(2)
memory usage: 335.8+ KB

In [59]:
eda_df = players_df.merge(salary_df[['money-y','money-w','money-a','name', 'year']], how='left', left_on=['Name', 'year'], right_on=['name', 'year'])
eda_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4938 entries, 0 to 4937
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4938 non-null   int64
 1   No.         4938 non-null   int64
 2   Year        4938 non-null   int64
 3   Name        4938 non-null   object
 4   Age         4938 non-null   int64
 5   Team        4938 non-null   object
 6   Position    4938 non-null   object
 7   year        4938 non-null   int64
 8   money-y     4076 non-null   float64
 9   money-w     4076 non-null   float64
 10  money-a     4076 non-null   float64
 11  name        4076 non-null   object
dtypes: float64(3), int64(5), object(4)
memory usage: 501.5+ KB

In [60]:
eda_df.isnull().mean()

Unnamed: 0    0.000000
No.           0.000000
Year          0.000000
Name          0.000000
Age           0.000000
Team          0.000000
Position      0.000000
year          0.000000
money-y       0.174565
money-w       0.174565
money-a       0.174565
name          0.174565
dtype: float64

In [61]:
eda_df = eda_df[~eda_df.duplicated(['year', 'Name'], keep='first')]
eda_df.isnull().mean()

Unnamed: 0    0.000000
No.           0.000000
Year          0.000000
Name          0.000000
Age           0.000000
Team          0.000000
Position      0.000000
year          0.000000
money-y       0.182696
money-w       0.182696
money-a       0.182696
name          0.182696
dtype: float64