In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
path = '../data/origin/player/players_{}.csv'

In [3]:
start_year, end_year = 2014,2022
players_df = pd.DataFrame()
for year in range(start_year, end_year+1):
    data = pd.read_csv(path.format(year))
    data['year'] = year
    players_df = pd.concat([players_df, data])
players_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4742 entries, 0 to 554
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4742 non-null   int64
 1   No.         4742 non-null   int64
 2   Year        4742 non-null   int64
 3   Name        4742 non-null   object
 4   Age         4742 non-null   int64
 5   Team        4742 non-null   object
 6   Position    4742 non-null   object
 7   year        4742 non-null   int64
dtypes: int64(5), object(3)
memory usage: 333.4+ KB

In [4]:
players_df.head()

   Unnamed: 0   No.  Year            Name  Age     Team    Position  year
0           0   444  2014     Eden Hazard   23  Chelsea     Forward  2014
1           1    73  2014  Alexis Sanchez   25  Arsenal     Forward  2014
2           2   260  2014   Cesc Fabregas   27  Chelsea  Midfielder  2014
3           3  1462  2014   Santi Cazorla   29  Arsenal  Midfielder  2014
4           4  1159  2014      Mesut Ozil   25  Arsenal  Midfielder  2014

In [5]:
players_df[players_df.Name=='Eden Hazard']

    Unnamed: 0  No.  Year         Name  Age     Team Position  year
0            0  444  2014  Eden Hazard   23  Chelsea  Forward  2014
74         609  444  2015  Eden Hazard   24  Chelsea  Forward  2015
2         1084  444  2016  Eden Hazard   25  Chelsea  Forward  2016
5         1616  444  2017  Eden Hazard   26  Chelsea  Forward  2017
0         2127  444  2018  Eden Hazard   27  Chelsea  Forward  2018

In [6]:
players_df = players_df.rename(columns={'Unnamed: 0':'Id'})
players_df.head()

In [7]:
players_df.to_csv('../data/new/players_all.csv', index=False)