In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
path = '../data/salary/salary_{}.csv'

In [5]:
start_year, end_year = 2014,2022
salary_df = pd.DataFrame()
for year in range(start_year, end_year+1):
    data = pd.read_csv(path.format(year))
    data['year'] = year
    salary_df = pd.concat([salary_df, data])
salary_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4803 entries, 0 to 562
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           1252 non-null   float64
 1   Name           4803 non-null   object
 2   Position       4799 non-null   object
 3   Team           4803 non-null   object
 4   Salary         4803 non-null   object
 5   Transfer Fee   0 non-null      float64
 6   Signing Bonus  0 non-null      float64
 7   year           4803 non-null   int64
dtypes: float64(3), int64(1), object(4)
memory usage: 337.7+ KB

In [6]:
salary_df.head()

,Rank,Name,Position,Team,Salary,Transfer Fee,Signing Bonus,year
0,1.0,Fernando Torres,Forward,CFC,"£340,362",NaN,NaN,2014
1,2.0,Wayne Rooney,Forward,MUFC,"£300,000",NaN,NaN,2014
2,3.0,Sergio Aguero,Forward,MCFC,"£220,000",NaN,NaN,2014
3,NaN,Yaya Toure,Midfielder,MCFC,"£220,000",NaN,NaN,2014
4,5.0,Diego Costa,Forward,CFC,"£185,000",NaN,NaN,2014

In [7]:
salary_df.describe()

              Rank  Transfer Fee  Signing Bonus         year
count  1252.000000           0.0            0.0  4803.000000
mean    293.690096           NaN            NaN  2018.462419
std     200.082608           NaN            NaN     2.349686
min       1.000000           NaN            NaN  2014.000000
25%     105.000000           NaN            NaN  2017.000000
50%     279.500000           NaN            NaN  2019.000000
75%     484.000000           NaN            NaN  2020.000000
max     648.000000           NaN            NaN  2022.000000

In [8]:
salary_df.isnull().mean()

Rank             0.739330
Name             0.000000
Position         0.000833
Team             0.000000
Salary           0.000000
Transfer Fee     1.000000
Signing Bonus    1.000000
year             0.000000
dtype: float64