In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
path = '../data/origin/understat/understat_{}_edited.csv'

In [3]:
start_year, end_year = 2014,2022
stats_df = pd.DataFrame()
for year in range(start_year, end_year+1):
    data = pd.read_csv(path.format(year))
    data['year'] = year
    stats_df = pd.concat([stats_df, data])
stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4755 entries, 0 to 553
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   No           4755 non-null   int64
 1   Player       4755 non-null   object
 2   Team         4755 non-null   object
 3   Apps         4755 non-null   int64
 4   Min          4755 non-null   int64
 5   G            4755 non-null   int64
 6   NPG          4755 non-null   int64
 7   A            4755 non-null   int64
 8   xG           4755 non-null   float64
 9   NPxG         4755 non-null   float64
 10  xA           4755 non-null   float64
 11  xGChain      4755 non-null   float64
 12  xGBuildup    4755 non-null   float64
 13  xG90         4755 non-null   float64
 14  NPxG90       4755 non-null   float64
 15  xA90         4755 non-null   float64
 16  xG90+xA90    4755 non-null   float64
 17  NPxG90+xA90  4755 non-null   float64
 18  xGChain90    4755 non-null   float64
 19  xGBuildup90  4755 non-null   float64
 20  year         4755 non-null   int64
dtypes: float64(12), int64(7), object(2)
memory usage: 817.3+ KB

In [4]:
stats_df.head()

,No,Player,Team,Apps,Min,G,NPG,A,xG,NPxG,...,xGChain,xGBuildup,xG90,NPxG90,xA90,xG90+xA90,NPxG90+xA90,xGChain90,xGBuildup90,year
0,619,Sergio Aguero,Manchester City,33,2551,26,21,8,25.27,20.70,...,27.81,6.88,0.89,0.73,0.20,1.09,0.93,0.98,0.24,2014
1,647,Harry Kane,Tottenham,34,2589,21,19,4,17.16,14.87,...,16.49,5.55,0.60,0.52,0.14,0.73,0.65,0.57,0.19,2014
2,802,Diego Costa,Chelsea,26,2111,20,19,3,15.22,14.46,...,21.37,5.28,0.65,0.62,0.19,0.84,0.81,0.91,0.22,2014
3,848,Charlie Austin,Queens Park Rangers,35,3078,18,15,5,17.88,14.08,...,13.72,3.04,0.52,0.41,0.07,0.60,0.49,0.40,0.09,2014
4,498,Alexis Sanchez,Arsenal,35,2967,16,16,8,13.45,12.69,...,27.16,10.74,0.41,0.38,0.26,0.67,0.64,0.82,0.33,2014

In [5]:
stats_df.describe()

,No,Apps,Min,G,NPG,A,xG,NPxG,xA,xGChain,xGBuildup,xG90,NPxG90,xA90,xG90+xA90,NPxG90+xA90,xGChain90,xGBuildup90,year
count,4755.000000,4755.000000,4755.000000,4755.000000,4755.000000,4755.000000,4755.000000,4755.000000,4755.000000,4755.000000,4755.000000,4755.000000,4755.000000,4755.000000,4755.000000,4755.000000,4755.000000,4755.000000,4755.000000
mean,3045.897371,20.007361,1422.121556,1.903049,1.757939,1.348896,1.993846,1.852675,1.414740,5.362151,3.203384,0.142473,0.136170,0.094665,0.237167,0.230856,0.366126,0.207901,2018.011146
std,3146.976514,11.750748,1044.377644,3.475205,3.139191,2.170973,3.261073,2.932931,1.970535,5.669350,3.407195,0.307156,0.302856,0.341072,0.471481,0.468036,0.544369,0.342093,2.609181
min,12.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2014.000000
25%,669.000000,10.000000,443.000000,0.000000,0.000000,0.000000,0.090000,0.085000,0.080000,1.100000,0.630000,0.010000,0.010000,0.010000,0.050000,0.050000,0.150000,0.080000,2016.000000
50%,1017.000000,21.000000,1334.000000,0.000000,0.000000,0.000000,0.770000,0.750000,0.660000,3.590000,2.200000,0.060000,0.060000,0.050000,0.130000,0.130000,0.280000,0.160000,2018.000000
75%,6026.000000,30.000000,2288.500000,2.000000,2.000000,2.000000,2.370000,2.245000,1.950000,7.810000,4.635000,0.170000,0.170000,0.130000,0.320000,0.310000,0.460000,0.260000,2020.000000
max,11618.000000,38.000000,3420.000000,36.000000,31.000000,20.000000,32.760000,27.430000,20.620000,37.800000,23.960000,7.010000,7.010000,18.230000,18.230000,18.230000,18.230000,11.280000,2022.000000

In [6]:
stats_df.Player.value_counts()

Player
Ruben Loftus-Cheek    9
Nathan Ake            9
Raheem Sterling       9
David de Gea          9
Kurt Zouma            9
                     ..
Mario Vrancic         1
Josip Drmic           1
Tom Lawrence          1
Brad Jones            1
Samuel Amo-Ameyaw     1
Name: count, Length: 1730, dtype: int64

In [7]:
stats_df[stats_df.Player=='Theo Walcott']

,No,Player,Team,Apps,Min,G,NPG,A,xG,NPxG,...,xGChain,xGBuildup,xG90,NPxG90,xA90,xG90+xA90,NPxG90+xA90,xGChain90,xGBuildup90,year
53,503,Theo Walcott,Arsenal,14,427,5,5,0,5.35,5.35,...,5.93,0.70,1.13,1.13,0.08,1.21,1.21,1.25,0.15,2014
53,503,Theo Walcott,Arsenal,28,1374,5,5,2,8.39,8.39,...,14.59,5.33,0.55,0.55,0.13,0.68,0.68,0.96,0.35,2015
18,503,Theo Walcott,Arsenal,28,1944,10,10,2,9.90,9.14,...,11.12,2.42,0.46,0.42,0.12,0.58,0.54,0.51,0.11,2016
90,503,Theo Walcott,Arsenal,20,1207,3,3,3,3.15,3.15,...,6.35,2.44,0.24,0.24,0.23,0.46,0.46,0.47,0.18,2017
60,503,Theo Walcott,Everton,37,2127,5,5,2,6.51,6.51,...,10.27,2.55,0.28,0.28,0.12,0.40,0.40,0.43,0.11,2018
122,503,Theo Walcott,Everton,25,1310,2,2,3,3.48,3.48,...,8.40,2.61,0.24,0.24,0.27,0.51,0.51,0.58,0.18,2019
86,503,Theo Walcott,Everton,22,1660,3,3,3,2.28,2.28,...,5.55,2.23,0.12,0.12,0.07,0.19,0.19,0.30,0.12,2020
291,503,Theo Walcott,Southampton,9,387,0,0,0,0.86,0.86,...,1.19,0.33,0.20,0.20,0.01,0.21,0.21,0.28,0.08,2021
127,503,Theo Walcott,Southampton,20,1149,2,2,2,3.13,3.13,...,4.90,0.99,0.24,0.24,0.14,0.39,0.39,0.38,0.08,2022

In [8]:
stats_df.to_csv('../data/new/understat_all.csv', index=False)